/* || Variables */

:root[data-host*="4chan"] {
  --sidebar-bg-fallback-pos: center bottom;
  --sidebar-bg-fallback-size: calc(var(--sidebar-w) - 20px) auto;
}

/* || General */

body.is_index .board::before, 
body.is_thread .thread > .opContainer::before {
  content: '';

  position: fixed;

  display: block;
  height: calc(100vh - var(--header-h));

  background-repeat: no-repeat;
}

/* || Pseudo randomization logic */

body.is_index .board::before,
body.is_thread .thread > .opContainer[id$="0"]::before {
  background-image: var(--sidebar-general-bg-0, var(--sidebar-bg-0));
  background-position: var(--sidebar-general-bg-0-pos, var(--sidebar-bg-0-pos, var(--sidebar-bg-fallback-pos)));
  background-size: var(--sidebar-general-bg-0-size, var(--sidebar-bg-0-size, var(--sidebar-bg-fallback-size)));
}
body.is_thread .thread > .opContainer[id$="1"]::before {
  background-image: var(--sidebar-general-bg-1, var(--sidebar-general-bg-0, var(--sidebar-bg-1, var(--sidebar-bg-0))));
  background-position: var(--sidebar-general-bg-1-pos, var(--sidebar-general-bg-0-pos, var(--sidebar-bg-1-pos, var(--sidebar-bg-0-pos, var(--sidebar-bg-fallback-pos)))));
  background-size: var(--sidebar-general-bg-1-size, var(--sidebar-general-bg-0-size, var(--sidebar-bg-1-size, var(--sidebar-bg-0-size, var(--sidebar-bg-fallback-size)))));
}
body.is_thread .thread > .opContainer[id$="2"]::before {
  background-image: var(--sidebar-general-bg-2, var(--sidebar-general-bg-0, var(--sidebar-bg-2, var(--sidebar-bg-0))));
  background-position: var(--sidebar-general-bg-2-pos, var(--sidebar-general-bg-0-pos, var(--sidebar-bg-2-pos, var(--sidebar-bg-0-pos, var(--sidebar-bg-fallback-pos)))));
  background-size: var(--sidebar-general-bg-2-size, var(--sidebar-general-bg-0-size, var(--sidebar-bg-2-size, var(--sidebar-bg-0-size, var(--sidebar-bg-fallback-size)))));
}
body.is_thread .thread > .opContainer[id$="3"]::before {
  background-image: var(--sidebar-general-bg-3, var(--sidebar-general-bg-1, var(--sidebar-general-bg-0, var(--sidebar-bg-3, var(--sidebar-bg-1, var(--sidebar-bg-0))))));
  background-position: var(--sidebar-general-bg-3-pos, var(--sidebar-general-bg-1-pos, var(--sidebar-general-bg-0-pos, var(--sidebar-bg-3-pos, var(--sidebar-bg-1-pos, var(--sidebar-bg-0-pos, var(--sidebar-bg-fallback-pos)))))));
  background-size: var(--sidebar-general-bg-3-size, var(--sidebar-general-bg-1-size, var(--sidebar-general-bg-0-size, var(--sidebar-bg-3-size, var(--sidebar-bg-1-size, var(--sidebar-bg-0-size, var(--sidebar-bg-fallback-size)))))));
}
body.is_thread .thread > .opContainer[id$="4"]::before {
  background-image: var(--sidebar-general-bg-4, var(--sidebar-general-bg-2, var(--sidebar-general-bg-0, var(--sidebar-bg-4, var(--sidebar-bg-2, var(--sidebar-bg-0))))));
  background-position: var(--sidebar-general-bg-4-pos, var(--sidebar-general-bg-2-pos, var(--sidebar-general-bg-0-pos, var(--sidebar-bg-4-pos, var(--sidebar-bg-2-pos, var(--sidebar-bg-0-pos, var(--sidebar-bg-fallback-pos)))))));
  background-size: var(--sidebar-general-bg-4-size, var(--sidebar-general-bg-2-size, var(--sidebar-general-bg-0-size, var(--sidebar-bg-4-size, var(--sidebar-bg-2-size, var(--sidebar-bg-0-size, var(--sidebar-bg-fallback-size)))))));
}
body.is_thread .thread > .opContainer[id$="5"]::before {
  background-image: var(--sidebar-general-bg-5, var(--sidebar-general-bg-3, var(--sidebar-general-bg-1, var(--sidebar-general-bg-0, var(--sidebar-bg-5, var(--sidebar-bg-3, var(--sidebar-bg-1, var(--sidebar-bg-0))))))));
  background-position: var(--sidebar-general-bg-5-pos, var(--sidebar-general-bg-3-pos, var(--sidebar-general-bg-1-pos, var(--sidebar-general-bg-0-pos, var(--sidebar-bg-5-pos, var(--sidebar-bg-3-pos, var(--sidebar-bg-1-pos, var(--sidebar-bg-0-pos, var(--sidebar-bg-fallback-pos)))))))));
  background-size: var(--sidebar-general-bg-5-size, var(--sidebar-general-bg-3-size, var(--sidebar-general-bg-1-size, var(--sidebar-general-bg-0-size, var(--sidebar-bg-5-size, var(--sidebar-bg-3-size, var(--sidebar-bg-1-size, var(--sidebar-bg-0-size, var(--sidebar-bg-fallback-size)))))))));
}
body.is_thread .thread > .opContainer[id$="6"]::before {
  background-image: var(--sidebar-general-bg-6, var(--sidebar-general-bg-4, var(--sidebar-general-bg-2, var(--sidebar-general-bg-0, var(--sidebar-bg-6, var(--sidebar-bg-4, var(--sidebar-bg-2, var(--sidebar-bg-0))))))));
  background-position: var(--sidebar-general-bg-6-pos, var(--sidebar-general-bg-4-pos, var(--sidebar-general-bg-2-pos, var(--sidebar-general-bg-0-pos, var(--sidebar-bg-6-pos, var(--sidebar-bg-4-pos, var(--sidebar-bg-2-pos, var(--sidebar-bg-0-pos, var(--sidebar-bg-fallback-pos)))))))));
  background-size: var(--sidebar-general-bg-6-size, var(--sidebar-general-bg-4-size, var(--sidebar-general-bg-2-size, var(--sidebar-general-bg-0-size, var(--sidebar-bg-6-size, var(--sidebar-bg-4-size, var(--sidebar-bg-2-size, var(--sidebar-bg-0-size, var(--sidebar-bg-fallback-size)))))))));
}
body.is_thread .thread > .opContainer[id$="7"]::before {
  background-image: var(--sidebar-general-bg-7, var(--sidebar-general-bg-5, var(--sidebar-general-bg-3, var(--sidebar-general-bg-1, var(--sidebar-general-bg-0, var(--sidebar-bg-7, var(--sidebar-bg-5, var(--sidebar-bg-3, var(--sidebar-bg-1, var(--sidebar-bg-0))))))))));
  background-position: var(--sidebar-general-bg-7-pos, var(--sidebar-general-bg-5-pos, var(--sidebar-general-bg-3-pos, var(--sidebar-general-bg-1-pos, var(--sidebar-general-bg-0-pos, var(--sidebar-bg-7-pos, var(--sidebar-bg-5-pos, var(--sidebar-bg-3-pos, var(--sidebar-bg-1-pos, var(--sidebar-bg-0-pos, var(--sidebar-bg-fallback-pos)))))))))));
  background-size: var(--sidebar-general-bg-7-size, var(--sidebar-general-bg-5-size, var(--sidebar-general-bg-3-size, var(--sidebar-general-bg-1-size, var(--sidebar-general-bg-0-size, var(--sidebar-bg-7-size, var(--sidebar-bg-5-size, var(--sidebar-bg-3-size, var(--sidebar-bg-1-size, var(--sidebar-bg-0-size, var(--sidebar-bg-fallback-size)))))))))));
}
body.is_thread .thread > .opContainer[id$="8"]::before {
  background-image: var(--sidebar-general-bg-8, var(--sidebar-general-bg-6, var(--sidebar-general-bg-4, var(--sidebar-general-bg-2, var(--sidebar-general-bg-0, var(--sidebar-bg-8, var(--sidebar-bg-6, var(--sidebar-bg-4, var(--sidebar-bg-2, var(--sidebar-bg-0))))))))));
  background-position: var(--sidebar-general-bg-8-pos, var(--sidebar-general-bg-6-pos, var(--sidebar-general-bg-4-pos, var(--sidebar-general-bg-2-pos, var(--sidebar-general-bg-0-pos, var(--sidebar-bg-8-pos, var(--sidebar-bg-6-pos, var(--sidebar-bg-4-pos, var(--sidebar-bg-2-pos, var(--sidebar-bg-0-pos, var(--sidebar-bg-fallback-pos)))))))))));
  background-size: var(--sidebar-general-bg-8-size, var(--sidebar-general-bg-6-size, var(--sidebar-general-bg-4-size, var(--sidebar-general-bg-2-size, var(--sidebar-general-bg-0-size, var(--sidebar-bg-8-size, var(--sidebar-bg-6-size, var(--sidebar-bg-4-size, var(--sidebar-bg-2-size, var(--sidebar-bg-0-size, var(--sidebar-bg-fallback-size)))))))))));
}
body.is_thread .thread > .opContainer[id$="9"]::before {
  background-image: var(--sidebar-general-bg-9, var(--sidebar-general-bg-7, var(--sidebar-general-bg-5, var(--sidebar-general-bg-3, var(--sidebar-general-bg-1, var(--sidebar-general-bg-0, var(--sidebar-bg-9, var(--sidebar-bg-7, var(--sidebar-bg-5, var(--sidebar-bg-3, var(--sidebar-bg-1, var(--sidebar-bg-0))))))))))));
  background-position: var(--sidebar-general-bg-9-pos, var(--sidebar-general-bg-7-pos, var(--sidebar-general-bg-5-pos, var(--sidebar-general-bg-3-pos, var(--sidebar-general-bg-1-pos, var(--sidebar-general-bg-0-pos, var(--sidebar-bg-9-pos, var(--sidebar-bg-7-pos, var(--sidebar-bg-5-pos, var(--sidebar-bg-3-pos, var(--sidebar-bg-1-pos, var(--sidebar-bg-0-pos, var(--sidebar-bg-fallback-pos)))))))))))));
  background-size: var(--sidebar-general-bg-9-size, var(--sidebar-general-bg-7-size, var(--sidebar-general-bg-5-size, var(--sidebar-general-bg-3-size, var(--sidebar-general-bg-1-size, var(--sidebar-general-bg-0-size, var(--sidebar-bg-9-size, var(--sidebar-bg-7-size, var(--sidebar-bg-5-size, var(--sidebar-bg-3-size, var(--sidebar-bg-1-size, var(--sidebar-bg-0-size, var(--sidebar-bg-fallback-size)))))))))))));
}