@media only screen and (max-width:480px) {
  
  /* -- Post Form ------------------------------------------------- */
  
  #postForm {
    width: 95%;
  }
  #postForm tr:not(#captchaFormPart) input[type="Text"],
  #postForm textarea {
    width: 100%!important; /* Overwrite default widths and make flex work properly */
  }
  #postForm tbody,
  #postForm td {
    display: flex;
  }
  #postForm tbody {
    gap: 2px; /* Will have to use calc(width - 1px) with items on the same row */
    flex-wrap: wrap;
    position: relative; /* Wrap "Post" alternative button inside */
  }
  #postForm tr[data-type="Name"] {
    order: 1;
    flex: 0 0 calc(100/2 * 1% - 1px)
  }
  body:not(.is_thread) #postForm tr[data-type="Name"]{
    flex: 0 0 calc(100/3 * 1% - 1px)
  }
  #postForm tr[data-type="Options"] {
    order: 2;
    flex: 0 0 calc(100/2 * 1% - 1px)
  }
  body:not(.is_thread) #postForm tr[data-type="Options"]{
    flex: 0 0 calc(100/3 * 1% - 2px)
  }
  #postForm input[type="Submit"] {
    position: absolute;
    bottom: 0;
    right: 0;
    /* Button same size as "Browse..." */
    padding: 0;
    height: 22px;
  }
  body:not(.is_thread) #postForm tr[data-type="Subject"] {
    flex: 0 0 calc(100/3 * 1% - 1px)
  }
  body:not(.is_thread) #postForm tr[data-type="Subject"],
  #postForm tr[data-type="Comment"] {
    order: 3;
  }
  #postForm tr[data-type="Comment"] {
    flex: 1;
  }
  #postForm tr[data-type="Comment"] textarea {
    min-height: 100px;
    resize: vertical; /* Prevent accidental horizontal overflow */
  }
  #captchaFormPart {
    order: 4;
    flex: 1 0 100%;
  }
  #captchaFormPart > td:last-of-type {
    display: flex;
    justify-content: center;
    margin: 2px 0;
  }
  #t-root {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 0!important;
    border: none;
    width: 100%!important; /* Overwrite fixed 310px width */
  }
  #t-resp {
    width: auto!important;
    flex: 0 0 calc(100% - 96px);
    text-align: center;
  }
  /* Only show captcha container and slider when needed */
  #t-fg[style*="image"] {
    position: relative!important;
    height: 80px!important;
  }
  #t-cnt {
    height: auto!important;
    max-height: calc(80px + (2 * 5px))!important;
    margin-top: 0!important;
  }
  #t-slider {
    width: 95%!important;
    max-width: 308px;
    padding: 3px 0;
  }
  #t-slider[style*="hidden"]{
    display: none;
  }
  #postForm tr[data-type="File"] {
    order: 5;
    flex-basis: calc(75% - 1px);
  }
  #postForm tr[data-type="Spoilers"] {
    order: 6;
    flex-basis: calc(8% - 1px);
    display: flex!important; /* Overwrite display:table-cell */
    justify-content: center;
    align-items: center;
  }
  #postForm .mobileSpoiler {
    display: flex;
    align-content: baseline;
    font-size: 0;
    padding: 0!important; /* Overwrite default padding */
  }
  #postForm .mobileSpoiler input {
    margin: 0;
    height: 100%; /* Place box at same height as label */
  }
  
  /* -- Catalog ------------------------------------------------------- */

  /* Fit 3 threads per row minus gap between */
  body.is_catalog #threads {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    column-gap: 10px;
  }
  body.is_catalog #threads > * { 
    flex: 0 0 calc(33% - 10px);
  }

  /* Make thumbnails square shaped and centers image when it overflows */
  body.is_catalog .thread > a:first-of-type {
    display: inline-block;
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    overflow: hidden;
  }
  body.is_catalog .thread .thumb {
    position: absolute;
    left: 50%;
    top: 0;
    width: auto;
    height: 100%;
    transform: translate(-25%) translate(-25%);
  }
  
  /* Center #settings content */
  #settings {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 4px;
    flex-wrap: wrap;
    float: none; /* Overwrite default behavior */
    line-height: 0;
  }

  /* Wrap buttons on second line */
  #settings > span.ctrl-wrap {
    font-size: 0;
  }

  /* Fix broken height caused by display: flex */
  #settings > span.btn-wrap {
    line-height: 15px;
  }

  /* Make search form and its container fill entire page */
  #settings #qf-cnt {
    width: 100%
  }
  #settings #qf-box {
    width: 90%;
  }

  /* -- Thread -------------------------------------------------------- */

  /* Fill board banner entirely */
  body.is_thread .middlead > div,
  body.is_thread .middlead > div img{
    width: 100%;
    height: auto!important;
    box-sizing: border-box;
  }
  body.is_thread .middlead > div img {
    padding: 0 5px;
  }
  /* Move thread stats in top navbar */
  .thread-stats {
    display: flex;
    position: fixed;
    width: auto;
    height: auto;
    top: 0;
    padding-left: 5px;
    column-gap: 2px;
    line-height: 22px;
    font-size: 10px;
    font-weight: normal;
    z-index: 9001; /* What the fuck? */
    transition: top 0.2s ease-in-out;
  }
  /* Make thread stats disappear along with navbar when scrolling */
  #boardNavMobile[style*="top"] ~ #delform .thread-stats{
    top: calc(-24px)
  }
  
  /* Top and Bottom navlink buttons on the same line */
  body.is_thread > .navLinks.mobile,
  body.is_thread > .navLinks.mobile .btn-row,
  body.is_thread .board + .navLinks.mobile,
  body.is_thread .board + .navLinks.mobile .btn-row {
    display: flex!important;
    justify-content: center;
    gap: 4px;
  }
  body.is_thread > .navLinks.mobile > .mobileib.button:nth-of-type(4),
  body.is_thread .board + .navLinks.mobile > .mobileib.button:nth-of-type(4) {
    order: 1;
  }
  body.is_thread > .navLinks.mobile > .mobileib.button:nth-of-type(2),
  body.is_thread .board + .navLinks.mobile > .mobileib.button:nth-of-type(2) {
    order: 2;
  }
  body.is_thread > .navLinks.mobile .btn-row,
  body.is_thread .board + .navLinks.mobile .btn-row {
    order: 3;
    margin-top: 0;
  }
  body.is_thread > .navLinks.mobile .btn-row span:first-of-type,
  body.is_thread .board + .navLinks.mobile .btn-row span:first-of-type {
    order: 2;
  }
  body.is_thread > .navLinks.mobile > .mobileib.button:nth-of-type(3),
  body.is_thread .board + .navLinks.mobile > .mobileib.button:nth-of-type(3) {
    order: 4;
  }
  
  /* Quick reply */
  #quickReply {
    width: 90vw;
    margin-left: 0;
    left: calc(50% - 90vw / 2);
    box-sizing: border-box;
  }
  #qrForm,
  #qrCaptchaContainer {
    display: flex;
  }
  #qrForm {
    flex-wrap: wrap;
  }
  #qrForm input[type="Text"] {
    width: 100%;
    box-sizing: border-box;
  }
  #qrForm > div:first-of-type,
  #qrForm > div:nth-of-type(2) {
    width: 50%;
  }
  #qrForm > div:first-of-type {
    /* Name field */
  }
  #qrForm > div:nth-of-type(2) {
    /* Options field */
  }
  #qrForm > div:nth-of-type(3) { /* Comment field */
    display: flex;
  }
  #qrForm > div:nth-of-type(3) textarea {
    resize: vertical;
    min-height: 100px;
    min-width: auto;
    width: 100%;
  }
  #qrCaptchaContainer {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
  #qrCaptchaContainer #t-load {
    flex-shrink: 0;
    flex-basis: 30%
  }
  #qrCaptchaContainer #t-resp {
    flex-basis: calc(70% - 6px); /* 6px AKA "Get Captcha"'s right margin */
  }
  #qrForm > div:last-of-type { /* File field */
    display: flex;
    flex: 1 0 100%;
  }
  #qrFile {
    order: 1;
    flex: 1;
  }
  #qrSpoiler {
    order: 2;
    font-size: 0;
    margin-right: 3px;
  }
  #qrSpoiler label {
    display: flex;
    height: 100%;
  }
  #qrForm > div:last-of-type > input[type="Submit"]  {
    order: 3;
  }
  
  /* -- Hide ----------------------------------------------------------- */
  
  #boardNavMobile .pageJump a:not([id]):not([href*="bottom"]),
  [data-ad-bg] /* Ads placeholder */,
  #info .navLinks > span:first-of-type, /* Return button from top */
  body.is_thread > .navLinks.mobile > span:first-of-type, /* Return button from top */
  #content .navLinks > span:first-of-type, /* Return button from bottom */
  body.is_thread #delform > .navLinks.mobile > span:first-of-type, /* Return button from bottom */
  #settings > span:nth-of-type(3), /* Show OP comment */
  body.is_catalog #post-preview, /* Thread info after tapping */
  body.is_catalog #captchaFormPart .passNotice, /* Pass purchase ad */
  body.is_catalog #content > hr:last-of-type, /* Bottom separator */
  body.is_thread #boardNavMobile > .boardSelect, /* Quick board switch */
  body.is_thread #absbot, /* Mobile toggle and bottom links */
  body.is_thread #delform > hr.mobile, /* Bottom separator */
  .mobile-tu-status:empty, /* Hide post cooldown message if empty */
  #postForm tr.rules, /* Rules, FAQ, SJIS warning and total IPs in the thread */
  #captchaFormPart .passNotice, /* Pass shill ads to bypass captcha */
  #t-help, /* Captcha help button */
  .navLinks.mobile .mobile-tu-status, /* Auto thread update countdown */
  #postForm tr[data-type="Comment"] > td:first-of-type, /* Label */
  #postForm tr[data-type="File"] > td:first-of-type, /* Label */
  #postForm tr[data-type="Spoilers"] > td:first-of-type
  {
    display: none!important;;
  }
}
