/* || Variables */

:root[data-host*="4chan"] {
  --header-h: 24.4px;
  --sidebar-w: 300px;
  --banner-h: 100px;
  --banner-m: 5px;
  --banner-o: 8px;
  --board-title-h: 32px;
}

/* || General */

body {
  float: var(--sidebar-body-float);

  width: calc(100% - var(--sidebar-w));
}
body.is_index .board::before, 
body.is_thread .thread > .opContainer::before {
  content: '';

  top: var(--header-h);
  left: var(--sidebar-side-left);
  right: var(--sidebar-side-right);

  width: var(--sidebar-w);

  border-right: 1px solid var(--hr-color);
}
.boardBanner {
  position: fixed;
  z-index: 2;
  top: var(--header-h);
  left: var(--sidebar-side-left);
  right: var(--sidebar-side-right);

  max-width: var(--sidebar-w);
}
#bannerCnt {
  border: 0;
  border-bottom: 1px solid var(--border-c);
  margin-top: 0;
}
#qr {
  box-sizing: border-box;
  top: calc(
    var(--header-h) + 
    var(--banner-h) + 
    var(--banner-m) + 
    var(--board-title-h) + 
    var(--banner-o, 0px)
  )!important;
  left: var(--sidebar-side-left) !important;
  right: var(--sidebar-side-right) !important;

  width: var(--sidebar-w);
  border: none;
  border-radius: 0;

  box-shadow: none;
}

/* || General Tweaks */

/* Fix misaligned party hat when using sidebar */
body.is_thread .thread {
  position: relative;
}

/* || QR Tweaks */

/* Prevent fixed QR from covering thread watcher */
#thread-watcher {
  z-index: 21 !important;
}
/* Disable QR reposition and only show thread picker */
#qr .move {
  cursor: default;
}
#qr .move > *:not(select) {
  display: none;
}
/* Make thread picker fill leftover space */
#qr .move > select {
  width: 100%;
}
/* Re-order nodes without raping the UI with flex */
#qr form {
  display: grid;
}
/* Prevent overflow of borders on focus */
#qr form > * {
  max-width: calc(var(--sidebar-w) - 2px);
}
/* Place /pol/ and /f/ dropdown menus above .persona */
#qr form > select {
  order: -1;
}
/* Make <textarea> fill its container */
#qr textarea {
  width: 100%;
  min-width: auto; /* Overwrite default 300px min width */

  resize: vertical; /* Prevent further horizontal resizing */
}
/* Make captcha elements responsive */
.captcha-container {
  display: flex;
  flex-wrap: wrap;
}
#t-load {
  border: none;
  margin: 0 !important;
}
#t-resp {
  padding: 0;
  border: none;
  margin-left: .25em !important;
  flex-grow: 2;

  text-align: center;
}
/* Add space around slider */
#t-slider {
  width: calc(100% - .25em) !important;
  margin: .25em auto !important;
}
/* Wrap button on a new line */
#add-post {
  position: static;

  display: block;
  width: 100%;

  transform: none;
  text-align: center;
}
/* Make oekaki buttons more compact */
#qr-draw-button {
  font-size: x-small;
  text-transform: uppercase;
}
#qr .oekaki input::-webkit-outer-spin-button,
#qr .oekaki input::-webkit-inner-spin-button,
#qr .oekaki input[type=number] {
  padding: 0 !important;
  border: 0;
  margin: 0;

  text-align: center;

  -webkit-appearance: none;
  -moz-appearance: textfield;
}
/* Uniform spacing */
#qr {
  padding-top: 2px;
  padding-bottom: 2px;
}
.captcha-root {
  margin-top: 1px;
}
#t-msg {
  margin-bottom: 2px!important;
}
#file-n-submit {
  margin-top: 0;
}