:root.tomorrow {
  --accent: rgb(95, 137, 172);
  --field-bg-color: rgb(26, 27, 29);
  --field-text-color: rgb(197,200,198);
  --button-bg-color: rgb(32, 34, 37);
  --hr-color: rgb(40, 42, 46);
}
:root.spooky {
  --accent: rgb(255, 117, 24);
  --field-bg-color: rgb(38, 30, 55);
  --field-text-color: rgb(143, 149, 179);
}

/* || Fixes */

/* Hide empty space when QR Captcha is unused */

#t-cnt {
  /* Collapse height to 0 when there's no captcha */
  height: auto !important;
}
#t-fg[style*="image"] {
  /* Increase #t-cnt height back to 80px when captcha is up */
  position: relative !important;

  height: 80px !important;
}
#t-slider[style*="hidden"] {
  /* Hide slider when it's not used */
  display: none;
}
#t-msg:not(:empty) {
  /* Prevent overlapping of the message on other elements */
  position: static !important;
}

/* || Tweaks */

/* Hide useless Help button in the captcha container */
#t-help {
  display: none;
}
/* Add contextually correct cursor */
#t-load, #t-auto-solve, #file-n-submit > input, #qr-no-file {
  cursor: pointer;
}
/* Make unread line match theme's accent color */
#unread-line {
  border-color: var(--accent, rgb(255, 0, 0));
}

/* || Themes */

:root.tomorrow #qr select,
:root.spooky #qr select {
  border: 0;
  margin-bottom: 2px;
  background-color: var(--field-bg-color);
}

:root.tomorrow #qr .field,
:root.tomorrow #qr .field:focus,
:root.spooky #qr .field,
:root.spooky #qr .field:focus {
  background-color: var(--field-bg-color);
  color: var(--field-text-color);
}

:root.tomorrow #qr *[type=button],
:root.spooky #qr *[type=button],
:root.tomorrow #qr *[type=submit],
:root.spooky #qr *[type=submit] {
  border: none;
  border-radius: 0;
  
  filter: none;
  background: none;
  background-color: var(--field-bg-color);
  color: var(--accent);
}

:root.tomorrow #qr-filename-container,
:root.spooky #qr-filename-container {
  padding: 0;
  border: 0;
  margin: 0 1px;
}

@media screen and (min-width: 768px) and (max-width: 1600px) {
  /* Force index options on a single line */
  #index-options {
    position: absolute;
    right: 0;
  }
  /* Force replies on a new line */
  body.is_thread .postContainer.opContainer {
    display: inline-block !important;
    width: 100%;
  }
  /* Prevent wrapping of index options on a new line */
  @media screen and (max-width: 864px) {
    #index-search:focus ~ #index-options {
      display: none;
    }
  }
}